<ion-view view-title="Job">
  <ion-content class="padding">  
    <div id="map" data-tap-disabled="true"></div>    
    <div class="map-buttons">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-cube placeholder-icon"></i>
          <input type="text" placeholder="Job Reference" ng-model="log.job" ng-disabled="log.start.time">
        </label>
      </div>
      <div>
        <button class="button button-block button-balanced" ng-hide="log.start.time" ng-click=clockIn()>
          <i class="icon ion-ios-stopwatch-outline"></i> Start
        </button>
        <button class="button button-block button-assertive" ng-show="log.start.time" ng-click=clockOut()>
          <i class="icon ion-stop"></i> Stop
        </button>
      </div>
    </div> 
  </ion-content>
</ion-view>
